<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Events</title>
</head>
<body>
<p>
    <a href="signup_form.html">Sign Up | </a>
    <a href="">Login | </a>
    <a href="src/App.js">Events | </a>
    <a href="events.html">Up Coming  </a>
</p>
<div style="background-color:lightsteelblue; color:steelblue; float: left;">
    <h2>Event 1</h2>
    <img src="img4.jpg" width="300px" height="250px">
    <p>This event is .....</p>
    <br>
    <button style='color:black' href="src/App.js" type="submit">Book Event</button>
    <br>
    <p> </p>

</div>
<div style="background-color: steelblue; color:lightsteelblue; float: left;">
    <h2>Event 2</h2>
    <img src="img4.jpg" width="300px" height="250px">
    <p>This event is .....</p>
    <br>
    <button style='color:black' href="http://localhost:3000/" type="submit">Book Event</button>
    <br>
    <p> </p>

</div>
<div style="background-color: lightsteelblue; color:steelblue; float: left;">
    <h2>Event 3</h2>
    <img src="img4.jpg" width="300px" height="250px">
    <p>This event is .....</p>
    <br>
    <button style='color:black' href="http://localhost:3000/" type="submit">Book Event</button>
    <br>
    <p> </p>
</div>

<div style="background-color: steelblue; color:lightsteelblue; float: left;">
    <h2>Event 4</h2>
    <img src="img4.jpg" width="300px" height="250px">
    <p>This event is .....</p>
    <br>
    <button style='color:black' href="http://localhost:3000/" type="submit">Book Event</button>
    <br>
    <p> </p>
</div>


</body>
</html>